<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.framework.miniProgram.mapper.MPDepartmentMapper">

    <select id="queryDepartmentList" resultType="com.base.framework.miniProgram.model.entity.MPDepartmentEntity">
        SELECT
            id,
            name,
            title,
            banner_url AS bannerUrl,
            problems,
            disease_type AS diseaseType,
            diagnosis_items AS diagnosisItems,
            created_at AS createdAt,
            created_by AS createdBy
        FROM
            m_appointment_department
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>

    </select>


</mapper>
