<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.framework.admin.mapper.HospitalMapper">

    <insert id="save" parameterType="com.base.framework.admin.model.entity.HospitalEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            m_hospital(id, name, code, description, address, account_id, feature, department_names, department_ids, consultation_hours, appid, secret, is_active, intro_pic, env_pic, recipient, created_by, ext)
        VALUES
            (#{id}, #{name}, #{code}, #{description}, #{address}, #{accountId}, #{feature}, #{departmentNames}, #{departmentIds}, #{consultationHours}, #{appid}, #{secret}, #{isActive}, #{introPic}, #{envPic}, #{recipient}, #{createdBy}, #{ext})
    </insert>

    <select id="queryHospitalPage" resultType="com.base.framework.admin.model.entity.HospitalEntity">
        SELECT
            mh.id,
            mh.name,
            mh.code,
            mh.department_ids AS departmentIds,
            mh.department_names AS departmentNames,
            mh.consultation_hours AS consultationHours,
            mh.feature,
            mh.recipient,
            mh.ext,
            mh.auth_number AS authNumber,
            mh.is_active AS isActive,
            mh.created_at AS createdAt,
            mh.created_by AS createdBy,
            sa.name AS  accountName
        FROM
            m_hospital mh
        LEFT JOIN sys_account sa ON mh.account_id = sa.id
        <where>
            mh.is_deleted = 1 AND mh.deleted_at IS NULL
            <if test="name != null and name != ''">
                AND mh.`name` LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="isActive != null">
                AND mh.is_active = #{isActive}
            </if>
            <if test="accountId != null and accountId != ''">
                AND mh.account_id = #{accountId}
            </if>
            <if test="departmentId != null and departmentId != ''">
                AND mh.department_ids LIKE CONCAT('%', #{departmentId}, '%')
            </if>
        </where>
    </select>

    <select id="getHospitalDetail" resultType="com.base.framework.admin.model.entity.HospitalEntity">
        SELECT
            mh.id,
            mh.name,
            mh.code,
            mh.address,
            mh.description,
            mh.department_ids AS departmentIds,
            mh.department_names AS departmentNames,
            mh.consultation_hours AS consultationHours,
            mh.account_id AS accountId,
            mh.feature,
            mh.ext,
            mh.recipient,
            mh.appid,
            mh.secret,
            mh.intro_pic AS introPic,
            mh.env_pic AS envPic,
            mh.is_active AS isActive,
            mh.created_at AS createdAt,
            mh.created_by AS createdBy
        FROM
            m_hospital mh
        WHERE
            mh.code = #{code} OR mh.id = #{id}
    </select>

    <update id="deleteHospital">
        UPDATE
            m_hospital
        SET
            deleted_by = #{createdBy},
            deleted_at = now(),
            is_deleted = 0
        WHERE
            id = #{id}
    </update>

    <update id="updateState">
        UPDATE
            m_hospital
        SET
            updated_by = #{updatedBy},
            updated_at = now(),
            is_active = #{isActive}
        WHERE
            id = #{id}
    </update>

    <update id="update">
        UPDATE
            m_hospital
        SET
            name = #{name},
            address = #{address},
            feature = #{feature},
            department_ids = #{departmentIds},
            department_names = #{departmentNames},
            description = #{description},
            consultation_hours = #{consultationHours},
            intro_pic = #{introPic},
            ext = #{ext},
            env_pic = #{envPic},
            recipient = #{recipient},
            updated_by = #{updatedBy},
            updated_at = now(),
            is_active = #{isActive}
        WHERE
            id = #{id}
    </update>

</mapper>
