<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.framework.admin.mapper.SysRoleMapper">
    <insert id="save" parameterType="com.base.framework.admin.model.entity.SysRoleEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_role(id, name, code, created_by, is_active) VALUES(#{id}, #{name}, #{code}, #{createdBy}, #{isActive})
    </insert>

    <select id="getDetailByCode" resultType="com.base.framework.admin.model.entity.SysRoleEntity">
        SELECT * FROM sys_role WHERE code = #{code}
    </select>

    <resultMap id="detailMap" type="com.base.framework.admin.model.entity.SysRoleEntity">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="code" column="code" />
        <result property="isActive" column="isActive" />
        <collection property="menuIds" ofType="java.lang.Long" javaType="java.util.List">
            <result column="menuId" />
        </collection>
    </resultMap>

    <select id="getDetailById" resultMap="detailMap">
        SELECT
            sr.id, sr.name, sr.code, sr.is_active AS isActive, mp.menu_id AS menuId
        FROM
            sys_role sr
        LEFT JOIN sys_role_menu_mapping mp ON mp.role_id = sr.id
        WHERE
            sr.id = #{id}
    </select>

    <delete id="deleteById">
        DELETE FROM sys_role WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE
            sys_role
        SET
            name = #{name},
            is_active = #{isActive},
            updated_at = now(),
            updated_by = #{updatedBy}
        WHERE
            id = #{id}
    </update>

    <update id="updateState">
        UPDATE
            sys_role
        SET
            is_active = #{isActive},
            updated_at = now(),
            updated_by = #{updatedBy}
        WHERE
            id = #{id}
    </update>

    <select id="queryUserList" resultType="com.base.framework.admin.model.entity.SysRoleEntity">
        SELECT id, name, code, is_active AS isActive, created_at AS createdAt, created_by AS createdBy FROM sys_role
        <where>
            <if test="isActive != null">
              is_active = #{isActive}
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>
</mapper>
